.cookies-panel{
    position: sticky;
    bottom: 20px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 30px auto;
    min-height: 50px;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 20px;
    box-shadow: var(--card-shadow);
}

.cookies-panel-closed{
    display: none;
}

.cookies-panel-content{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}