main{
  margin-top: 100px;
}

main div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-data{
  display: flex;
  flex-direction: row;
}

main button {
  max-width: 400px;
  height: 50px;
  align-items: end;
}

.logout-bttn{
  margin-top: auto;
  align-self: flex-end;
}

textarea, input[type="email"], input[type="password"], select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

textarea:focus, input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

.comments-section {
  margin-top: 20px;
}

.comments-container {
  margin-top: 20px;
}

.comment-item {
  background: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #555;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-item button {
  margin-left: 10px;
}

.cancel-button {
  background-color: #ffcc00;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
}

.update-section {
  margin-top: 20px;
}

.update-section h2 {
  color: #333;
}

.update-section input {
  margin-bottom: 10px;
}

.profile-update {
  margin-bottom: 30px;
}

.profile-update h2 {
  margin-bottom: 10px;
}

.update-message {
  color: green;
  margin-top: 10px;
  text-align: center;
}

.update-container{
  margin: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}