.nav-bar{
    background-color: white;
    display: flex;
    position: fixed;
    top: calc(50% - 100px);
    left: calc(100% - 100px);
    width: 40px;
    min-height: 200px;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-around;
}

.nav-bar .nav-item{
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}