.nav-bar{
    display: none;
}

@media (min-width: 768px){
    .nav-bar{
        background-color: white;
        position: fixed;
        width: 25px;
        top: 50%;
        left: 95%;
        border-radius: 50px;
        flex-direction: column;
        border: 1px solid black;
        z-index: 100;
        display: flex;
    }
    
    .nav-bar .nav-item{
        width: 100%;
        border-radius: 50px;
        cursor: pointer;
        background-color: red;
    }
    
}