.dish-card{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 30%;
    height: 400px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--card-shadow);
    padding: 20px;
    align-items: center;
    position: relative;
}

.dish-id{
    position: absolute;
    align-self: flex-start;
    top: 7px;
    right: 7px;
    background-color: red;
    font-weight: bold;
    border-radius: 25%;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}


.dish-card img{
    width: 140px;
    box-shadow: var(--card-shadow);
    border-radius: 15px;
}