.simple-dish-card{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: var(--card-shadow);
    padding: 10px;
    align-items: center;
}

.simple-dish-card img{
    width: 100px;
    box-shadow: var(--card-shadow);
    border-radius: 15px;
}

.simple-dish-card h3{
    font-size: 1.5rem;
    margin: 0;
    width: 200px;
}