.simple-dish-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.dish-img{
    height: 30%;
    display: flex;
    object-fit: cover;
    flex-shrink: 0;
}
